<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h2>基础示例</h2>
  <div>
    <hn-checkbox-group [options]="options" [checkAll]="true" [(ngModel)]="value"
      (ngModelChange)="handleChange($event)">
    </hn-checkbox-group>
    <div style="margin-bottom: 20px;">值：{{value}}</div>
  </div>

  <markdown ngPreserveWhitespaces>{{baseMarkdown}}</markdown>

  <h2>form表单</h2>
  <div>
    <form nz-form [formGroup]="validateForm" nzLayout="horizontal">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired>多选框</nz-form-label>
        <nz-form-control>
          <hn-checkbox-group [options]="options" formControlName="checkbox" (ngModelChange)="handleChange($event)">
          </hn-checkbox-group>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div style="margin-bottom: 20px;">form值：{{validateForm.value.checkbox}}</div>
    <button nz-button nzType="primary" (click)="handleSave()">提交</button>
  </div>

  <markdown ngPreserveWhitespaces>{{formMarkdown}}</markdown>

  <markdown ngPreserveWhitespaces>{{apiMarkdown}}</markdown>

</div>
