<div class="hn-single-search" nz-row [ngStyle]="style">
  <div class="hn-single-search-item" *ngFor="let item of formList">
    <div class="label">{{item.label}}：</div>
    <nz-input-group *ngIf="item.type === 'input'" nzSearch [nzAddOnAfter]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [(ngModel)]="form[item.key]"
        maxlength="30"
        [placeholder]="item.placeholder"
        (keyup.enter)="handleKeyupEnter()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <button nz-button nzType="primary" nzSearch (click)="handleKeyupEnter()">
        <i nz-icon nzType="search"></i>搜索
      </button>
    </ng-template>
    <nz-month-picker
      *ngIf="item.type === 'month'"
      [(ngModel)]="form[item.key]"
      [nzPlaceHolder]="item.placeholder"
      (ngModelChange)="handlePickerChange($event, item)"></nz-month-picker>
    <div *ngIf="item.type === 'checkbox'" class="search-checkbox">
      <label
        style="margin-right: 8px"
        nz-checkbox
        [(ngModel)]="form[item.checkAll]"
        (ngModelChange)="updateAllChecked($event, item)"
        [nzIndeterminate]="form[item.indeterminate]">
        全选
      </label>
      <nz-checkbox-group
        [(ngModel)]="form[item.key]"
        (ngModelChange)="handleCheckboxChange($event, item)"></nz-checkbox-group>
    </div>
  </div>
</div>