<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<app-catalog [list]="catalogList"></app-catalog>

<div class="layout-content">
  <h2 id="base">示例</h2>
  <hn-img-list [list]="imgList" (itemClick)="handleClick($event)"></hn-img-list>

  <h1 id="imgList">hn-img-list</h1>
  <app-markdown-tab [list]="imgListTabs"></app-markdown-tab>
  <markdown>{{imgListApiMarkdown}}</markdown>

  <h1 id="preview">hn-preview</h1>
  <app-markdown-tab [list]="previewTabs"></app-markdown-tab>
  <markdown>{{previewApiMarkdown}}</markdown>

</div>