.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.beforeAfter {
  content: '';
  display: block;
  height: 0;
  width: 0;
}
.img-list {
  display: flex;
  flex-wrap: wrap;
}
.img-list-item {
  width: 20%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-list-item img {
  display: inline-block;
  width: 120px;
  height: 100%;
}
