<div class="layout-content">
  <app-catalog [list]="catalogList"></app-catalog>

  <h2 id="fit">fit示例</h2>
  <div class="form-tab">
    <nz-radio-group class="form-tab-item" [(ngModel)]="fit">
      <label
        *ngFor="let item of fitTabs"
        nz-radio-button
        [nzValue]="item">{{item}}</label>
    </nz-radio-group>
  </div>
  <div class="image-list">
    <div class="image-list-item">
      <hn-image [src]="singleImg" [fit]="fit"></hn-image>
    </div>
  </div>

  <app-markdown-tab [list]="baseTabs"></app-markdown-tab>

  <h2 id="lazy">懒加载</h2>
  <div class="image-lazy-container" #divTarget>
    <div class="image-lazy-list">
      <div class="image-lazy-item" *ngFor="let item of imgList; index as index">
        <hn-image
          [src]="item.url"
          [alt]="item.alt"
          [lazy]="item.lazy"
          [hnTarget]="divTarget">
        </hn-image>
      </div>
    </div>
  </div>

  <app-markdown-tab [list]="lazyTabs"></app-markdown-tab>

  <markdown id="api">{{apiMarkdown}}</markdown>

</div>