<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h2>示例</h2>
  <hn-export
    [api]="exportApi"
    download="企业产值数据"
    type="primary"></hn-export>

  <hn-export
    style="margin-left: 10px;"
    [api]="exportApi"
    download="企业产值数据"
    [disabled]="true"
    type="primary"
    text="禁用导出"></hn-export>

  <app-markdown-tab [list]="markdownTabs"></app-markdown-tab>

  <markdown ngPreserveWhitespaces>{{apiMarkdown}}</markdown>
</div>