<div class="hn-table">
  <nz-table
    #basicTable
    [nzData]="tableData"
    [nzShowPagination]="showPagination"
    [nzFrontPagination]="false"
    nzShowSizeChanger
    [nzBordered]="bordered"
    [nzScroll]="scroll"
    [nzShowTotal]="totalTemp"
    [nzTotal]="pagination.total"
    [(nzPageIndex)]="pagination.pageIndex"
    [(nzPageSize)]="pagination.pageSize"
    (nzPageIndexChange)="getList()"
    [nzFooter]="footer">
    <thead>
      <tr>
        <th
          *ngIf="showSelect"
          nzLeft="0px"
          nzWidth="80px"
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th
          *ngFor="let item of tableColumns"
          [nzWidth]="item.width"
          [nzAlign]="item.align"
          [nzLeft]="item.left"
          [nzRight]="item.right">
          {{item.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td
          *ngIf="showSelect"
          nzLeft="0px"
          nzShowCheckbox
          [(nzChecked)]="mapOfCheckedId[data.id]"
          [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td
          *ngFor="let item of tableColumns;index as index"
          [nzAlign]="item.align"
          [nzLeft]="item.left"
          [nzRight]="item.right">
          <span *ngIf="!item.render">{{item.format ? item.format(data) : data[item.key]}}</span>
          <ng-template [ngIf]="item.render" [ngTemplateOutlet]="item.render"
            [ngTemplateOutletContext]="{ $implicit: {data: data, item: item}, index: index }">
          </ng-template>
        </td>
      </tr>
    </tbody>
    <ng-template #totalTemp>
      <span>总计{{pagination.total}}条</span>
    </ng-template>
  </nz-table>
</div>
