<div class="hn-table">
  <nz-table
    #table
    [nzData]="tableData"
    [nzSize]="size"
    [nzBordered]="bordered"
    [nzTableLayout]="tableLayout"
    [nzScroll]="scroll"
    [nzLoading]="loading"
    [nzShowPagination]="showPagination"
    [nzPaginationPosition]="paginationPosition"
    [nzFrontPagination]="false"
    [nzShowSizeChanger]="showSizeChanger"
    [nzShowQuickJumper]="showQuickJumper"
    [nzShowTotal]="totalTemp"
    [nzTotal]="tableTotal"
    [(nzPageIndex)]="pagination.pageIndex"
    [(nzPageSize)]="pagination.pageSize"
    [nzPageSizeOptions]="pageSizeOptions"
    [nzHideOnSinglePage]="hideOnSinglePage"
    [nzSimple]="simplePage"
    (nzPageIndexChange)="hnPageIndexChange($event)"
    (nzPageSizeChange)="hnPageSizeChange($event)"
    [nzFooter]="footer"
    [nzVirtualItemSize]="virtualItemSize"
    [nzVirtualMaxBufferPx]="virtualMaxBufferPx"
    [nzVirtualMinBufferPx]="virtualMinBufferPx">
    <thead>
      <ng-template
        [ngIf]="theadRender"
        [ngTemplateOutlet]="theadRender"
        [ngTemplateOutletContext]="{ $implicit: tableColumns }">
      </ng-template>
      <tr *ngIf="!theadRender">
        <ng-template [ngTemplateOutlet]="thTemp"></ng-template>
      </tr>
    </thead>

    <!-- 允许拖拽 -->
    <tbody *ngIf="draggable" cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngIf="!virtualScroll">
        <ng-container *ngFor="let data of tableData; index as index">
          <tr *ngIf="canDrag(data)" cdkDrag>
            <ng-template [ngTemplateOutlet]="tdTemp" [ngTemplateOutletContext]="{ $implicit: data }"> </ng-template>
          </tr>
          <tr *ngIf="!canDrag(data)">
            <ng-template [ngTemplateOutlet]="tdTemp" [ngTemplateOutletContext]="{ $implicit: data }"> </ng-template>
          </tr>
          <ng-container *ngIf="expandRender && data.expand">
            <tr [nzExpand]="data.expand">
              <ng-template
                [ngTemplateOutlet]="expandRender"
                [ngTemplateOutletContext]="{ $implicit: data }">
              </ng-template>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="virtualScroll">
        <ng-template nz-virtual-scroll let-data let-index="index">
          <tr *ngIf="canDrag(data)" cdkDrag>
            <ng-template [ngTemplateOutlet]="tdTemp" [ngTemplateOutletContext]="{ $implicit: data }"> </ng-template>
          </tr>
          <tr *ngIf="!canDrag(data)">
            <ng-template [ngTemplateOutlet]="tdTemp" [ngTemplateOutletContext]="{ $implicit: data }"> </ng-template>
          </tr>
          <ng-container *ngIf="expandRender && data.expand">
            <tr [nzExpand]="data.expand">
              <ng-template
                [ngTemplateOutlet]="expandRender"
                [ngTemplateOutletContext]="{ $implicit: data }">
              </ng-template>
            </tr>
          </ng-container>
        </ng-template>
      </ng-container>
    </tbody>

    <!-- 不允许拖拽 -->
    <tbody *ngIf="!draggable">
      <ng-container *ngIf="!virtualScroll">
        <ng-container *ngFor="let data of tableData; index as index">
          <ng-template [ngTemplateOutlet]="trTemp" [ngTemplateOutletContext]="{ $implicit: data }"> </ng-template>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="virtualScroll">
        <ng-template nz-virtual-scroll let-data let-index="index">
          <ng-template [ngTemplateOutlet]="trTemp" [ngTemplateOutletContext]="{ $implicit: data }"> </ng-template>
        </ng-template>
      </ng-container>
    </tbody>

    <!-- tr 模板 -->
    <ng-template #trTemp let-data>
      <tr>
        <ng-template [ngTemplateOutlet]="tdTemp" [ngTemplateOutletContext]="{ $implicit: data }"> </ng-template>
      </tr>
      <ng-container *ngIf="expandRender && data.expand">
        <ng-template
          [ngTemplateOutlet]="expandRender"
          [ngTemplateOutletContext]="{ $implicit: data }">
        </ng-template>
      </ng-container>
    </ng-template>

    <!-- th 模板 -->
    <ng-template #thTemp>
      <ng-container *ngFor="let item of tableColumns; index as index">
        <!-- 展开按钮 -->
        <!-- <th
          *ngIf="item.showExpand"
          [nzWidth]="item.width || '60px'"
          [nzAlign]="item.align || 'center'"
          [nzLeft]="item.left || '0px'"
          [nzRight]="item.right || false">
        </th> -->
        <!-- 选择框 -->
        <th
          *ngIf="item.showCheckbox"
          [nzWidth]="item.width || '60px'"
          [nzAlign]="item.align || 'center'"
          [nzLeft]="item.left || false"
          [nzRight]="item.right || false"
          [nzShowCheckbox]="item.showCheckbox"
          [nzDisabled]="item.disabled"
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)">
        </th>
        <!-- 常规表头 -->
        <th
          *ngIf="!item.showCheckbox"
          [nzWidth]="item.width"
          [nzAlign]="item.align"
          [nzLeft]="item.left || false"
          [nzRight]="item.right || false"
          [nzBreakWord]="item.breakWord"
          [nzEllipsis]="item.ellipsis"
          [nzShowSort]="item.showSort || false"
          [nzSortFn]="item.sortFn || true"
          [nzSortDirections]="item.sortDirections || ['ascend', 'descend', null]"
          [nzSortOrder]="item.sortOrder"
          (nzSortOrderChange)="item.sortOrderChange($event)"
          [nzShowFilter]="item.showFilter || false"
          [nzFilterFn]="item.nzFilterFn || true"
          [nzFilterMultiple]="item.filterMultiple || false"
          [nzFilters]="item.filters || []"
          (nzFilterChange)="item.filterChange($event)">
          <span *ngIf="!item.thRender">{{ item.title }}</span>
          <ng-template
            [ngIf]="item.thRender"
            [ngTemplateOutlet]="item.thRender"
            [ngTemplateOutletContext]="{ $implicit: { item: item }, index: index }">
          </ng-template>
        </th>
      </ng-container>
    </ng-template>

    <!-- td 模板 -->
    <ng-template #tdTemp let-data>
      <ng-container *ngFor="let item of tableColumns; index as index">
        <!-- <td
          *ngIf="item.showExpand"
          nzShowExpand
          [nzIndentSize]="item.indentSize"
          [(nzExpand)]="data.expand"
          [nzAlign]="item.align || 'center'"
          [nzLeft]="item.left || '0px'"
          [nzRight]="item.right || false"
          (nzExpandChange)="item.expandChange($event, {data:data, item:item})"></td> -->
        <td
          *ngIf="item.showCheckbox"
          [nzShowCheckbox]="item.showCheckbox || false"
          [nzAlign]="item.align || 'center'"
          [nzLeft]="item.left || false"
          [nzRight]="item.right || false"
          [(nzChecked)]="mapOfCheckedId[data.id]"
          [nzDisabled]="data.disabled"
          (nzCheckedChange)="refreshStatus()"></td>
        <td
          *ngIf="!item.showCheckbox"
          [nzAlign]="item.align"
          [nzLeft]="item.left || false"
          [nzRight]="item.right || false"
          [nzBreakWord]="item.breakWord"
          [nzEllipsis]="item.ellipsis"
          [nzShowExpand]="item.showExpand"
          [nzIndentSize]="item.indentSize"
          [(nzExpand)]="data.expand"
          (nzExpandChange)="item.expandChange($event, {data:data, item:item})">
          <span *ngIf="!item.render">{{ item.format ? item.format(data) : data[item.key] }}</span>
          <ng-template
            [ngIf]="item.render"
            [ngTemplateOutlet]="item.render"
            [ngTemplateOutletContext]="{ $implicit: { data: data, item: item }, index: index }">
          </ng-template>
        </td>
      </ng-container>
    </ng-template>

    <!-- total模板 -->
    <ng-template #totalTemp>
      <span>总计{{ tableTotal }}条</span>
    </ng-template>
  </nz-table>
</div>