<div class="hn-table">
  <nz-table
    #table
    [nzData]="tableData"
    [nzSize]="size"
    [nzBordered]="bordered"
    [nzScroll]="scroll"
    [nzShowPagination]="showPagination"
    [nzPaginationPosition]="paginationPosition"
    [nzFrontPagination]="false"
    [nzShowSizeChanger]="showSizeChanger"
    [nzShowQuickJumper]="showQuickJumper"
    [nzShowTotal]="totalTemp"
    [nzTotal]="total"
    [(nzPageIndex)]="pagination.pageIndex"
    [(nzPageSize)]="pagination.pageSize"
    [nzPageSizeOptions]="pageSizeOptions"
    [nzHideOnSinglePage]="hideOnSinglePage"
    [nzSimple]="simplePage"
    (nzPageIndexChange)="getList()"
    (nzPageSizeChange)="getList(true)"
    [nzFooter]="footer"
    [nzVirtualScroll]="virtualScroll"
    [nzVirtualItemSize]="virtualItemSize"
    [nzVirtualMaxBufferPx]="virtualMaxBufferPx"
    [nzVirtualMinBufferPx]="virtualMinBufferPx">
    <thead (nzSortChange)="sort($event)" nzSingleSort="singleSort">
      <tr>
        <th
          *ngIf="showSelect"
          nzLeft="0px"
          nzWidth="80px"
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
          [nzShowRowSelection]="showRowSelection"
          [nzSelections]="selections"></th>
        <th
          *ngFor="let item of tableColumns"
          [nzWidth]="item.width"
          [nzAlign]="item.align"
          [nzLeft]="item.left"
          [nzRight]="item.right"
          [nzShowSort]="item.showSort"
          [nzSortKey]="item.sortKey || item.key"
          [nzShowFilter]="item.showFilter"
          [nzFilterMultiple]="item.filterMultiple"
          [nzFilters]="item.filters || []"
          (nzFilterChange)="item.filterChange($event)">{{item.title}}</th>
      </tr>
    </thead>

    <!-- 允许拖拽 -->
    <tbody *ngIf="draggable" cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngIf="!virtualScroll">
        <ng-container *ngFor="let data of tableData;index as index">
          <tr *ngIf="!data.disabled" cdkDrag>
            <ng-template
              [ngTemplateOutlet]="trTemp"
              [ngTemplateOutletContext]="{ $implicit: data }">
            </ng-template>
          </tr>
          <tr *ngIf="data.disabled">
            <ng-template
              [ngTemplateOutlet]="trTemp"
              [ngTemplateOutletContext]="{ $implicit: data }">
            </ng-template>
          </tr>
        </ng-container>

      </ng-container>
      <ng-container *ngIf="virtualScroll">
        <ng-template nz-virtual-scroll let-data let-index="index">
          <tr cdkDrag>
            <ng-template
              [ngTemplateOutlet]="trTemp"
              [ngTemplateOutletContext]="{ $implicit: data }">
            </ng-template>
          </tr>
        </ng-template>
      </ng-container>
    </tbody>

    <!-- 不允许拖拽 -->
    <tbody *ngIf="!draggable">
      <ng-container *ngIf="!virtualScroll">
        <tr *ngFor="let data of tableData">
          <ng-template
            [ngTemplateOutlet]="trTemp"
            [ngTemplateOutletContext]="{ $implicit: data }">
          </ng-template>
        </tr>
      </ng-container>
      <ng-container *ngIf="virtualScroll">
        <ng-template nz-virtual-scroll let-data let-index="index">
          <tr>
            <ng-template
              [ngTemplateOutlet]="trTemp"
              [ngTemplateOutletContext]="{ $implicit: data }">
            </ng-template>
          </tr>
        </ng-template>
      </ng-container>
    </tbody>

    <!-- tr 模板 -->
    <ng-template #trTemp let-data>
      <td
        *ngIf="showSelect"
        nzLeft="0px"
        nzShowCheckbox
        [(nzChecked)]="mapOfCheckedId[data.id]"
        [nzDisabled]="data.disabled"
        (nzCheckedChange)="refreshStatus()"></td>
      <td
        *ngFor="let item of tableColumns;index as index"
        [nzAlign]="item.align"
        [nzLeft]="item.left"
        [nzRight]="item.right">
        <span *ngIf="!item.render">{{item.format ? item.format(data) : data[item.key]}}</span>
        <ng-template
          [ngIf]="item.render"
          [ngTemplateOutlet]="item.render"
          [ngTemplateOutletContext]="{ $implicit: {data: data, item: item}, index: index }">
        </ng-template>
      </td>
    </ng-template>

    <!-- total模板 -->
    <ng-template #totalTemp>
      <span>总计{{total}}条</span>
    </ng-template>
  </nz-table>
</div>