<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h2>示例</h2>
  <div class="form-tab">
    <nz-radio-group class="form-tab-item" [(ngModel)]="mode">
      <label nz-radio-button nzValue="horizontal"> horizontal </label>
      <label nz-radio-button nzValue="vertical"> vertical </label>
    </nz-radio-group>
    <nz-radio-group class="form-tab-item" [(ngModel)]="colon">
      <label nz-radio-button nzValue=":"> 有冒号 </label>
      <label nz-radio-button nzValue=""> 无冒号 </label>
    </nz-radio-group>
  </div>
  <hn-detail-list
    [mode]="mode"
    [list]="list"
    [data]="data"
    [colon]="colon"
    [render]="{linkTemp: linkTemp}">
    <ng-template #linkTemp let-scope>
      <a [href]="scope.value" target="_blank">{{scope.value}}</a>
    </ng-template>
  </hn-detail-list>
  <app-markdown-tab [list]="markdownTabs"></app-markdown-tab>

  <markdown ngPreserveWhitespaces>{{apiMarkdown}}</markdown>
</div>