.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.beforeAfter {
  content: '';
  display: block;
  height: 0;
  width: 0;
}
::ng-deep .hn-btn .anticon + span,
::ng-deep .hn-btn span + .anticon {
  margin-left: 8px;
}
::ng-deep .hn-btn-primary {
  color: #ffffff;
  border-color: #1293f1;
  background-color: #1293f1;
}
::ng-deep .hn-btn-primary:hover {
  color: #ffffff;
  border-color: rgba(18, 147, 241, 0.8);
  background-color: rgba(18, 147, 241, 0.8);
}
::ng-deep .hn-btn-primary.ant-btn-background-ghost {
  color: #1293f1;
}
::ng-deep .hn-btn-primary.ant-btn-background-ghost:hover {
  color: rgba(18, 147, 241, 0.8);
}
::ng-deep .hn-btn-primary.ant-btn-background-ghost.ant-btn[disabled] {
  color: rgba(18, 147, 241, 0.6);
}
::ng-deep .hn-btn-primary.ant-btn-background-ghost.ant-btn[disabled]:hover {
  color: rgba(18, 147, 241, 0.6);
}
::ng-deep .hn-btn-primary.ant-btn[disabled] {
  border-color: rgba(18, 147, 241, 0.6);
  background-color: rgba(18, 147, 241, 0.6);
}
::ng-deep .hn-btn-success {
  color: #ffffff;
  border-color: #56c51f;
  background-color: #56c51f;
}
::ng-deep .hn-btn-success:hover {
  color: #ffffff;
  border-color: rgba(86, 197, 31, 0.8);
  background-color: rgba(86, 197, 31, 0.8);
}
::ng-deep .hn-btn-success.ant-btn-background-ghost {
  color: #56c51f;
}
::ng-deep .hn-btn-success.ant-btn-background-ghost:hover {
  color: rgba(86, 197, 31, 0.8);
}
::ng-deep .hn-btn-success.ant-btn-background-ghost.ant-btn[disabled] {
  color: rgba(86, 197, 31, 0.6);
}
::ng-deep .hn-btn-success.ant-btn-background-ghost.ant-btn[disabled]:hover {
  color: rgba(86, 197, 31, 0.6);
}
::ng-deep .hn-btn-success.ant-btn[disabled] {
  border-color: rgba(86, 197, 31, 0.6);
  background-color: rgba(86, 197, 31, 0.6);
}
::ng-deep .hn-btn-warning {
  color: #ffffff;
  border-color: #ffd045;
  background-color: #ffd045;
}
::ng-deep .hn-btn-warning:hover {
  color: #ffffff;
  border-color: rgba(255, 208, 69, 0.8);
  background-color: rgba(255, 208, 69, 0.8);
}
::ng-deep .hn-btn-warning.ant-btn-background-ghost {
  color: #ffd045;
}
::ng-deep .hn-btn-warning.ant-btn-background-ghost:hover {
  color: rgba(255, 208, 69, 0.8);
}
::ng-deep .hn-btn-warning.ant-btn-background-ghost.ant-btn[disabled] {
  color: rgba(255, 208, 69, 0.6);
}
::ng-deep .hn-btn-warning.ant-btn-background-ghost.ant-btn[disabled]:hover {
  color: rgba(255, 208, 69, 0.6);
}
::ng-deep .hn-btn-warning.ant-btn[disabled] {
  border-color: rgba(255, 208, 69, 0.6);
  background-color: rgba(255, 208, 69, 0.6);
}
::ng-deep .hn-btn-danger {
  color: #ffffff;
  border-color: #fd4323;
  background-color: #fd4323;
}
::ng-deep .hn-btn-danger:hover {
  color: #ffffff;
  border-color: rgba(253, 67, 35, 0.8);
  background-color: rgba(253, 67, 35, 0.8);
}
::ng-deep .hn-btn-danger.ant-btn-background-ghost {
  color: #fd4323;
}
::ng-deep .hn-btn-danger.ant-btn-background-ghost:hover {
  color: rgba(253, 67, 35, 0.8);
}
::ng-deep .hn-btn-danger.ant-btn-background-ghost.ant-btn[disabled] {
  color: rgba(253, 67, 35, 0.6);
}
::ng-deep .hn-btn-danger.ant-btn-background-ghost.ant-btn[disabled]:hover {
  color: rgba(253, 67, 35, 0.6);
}
::ng-deep .hn-btn-danger.ant-btn[disabled] {
  border-color: rgba(253, 67, 35, 0.6);
  background-color: rgba(253, 67, 35, 0.6);
}
::ng-deep .hn-btn-info {
  color: #ffffff;
  border-color: #8a92a5;
  background-color: #8a92a5;
}
::ng-deep .hn-btn-info:hover {
  color: #ffffff;
  border-color: rgba(138, 146, 165, 0.8);
  background-color: rgba(138, 146, 165, 0.8);
}
::ng-deep .hn-btn-info.ant-btn-background-ghost {
  color: #8a92a5;
}
::ng-deep .hn-btn-info.ant-btn-background-ghost:hover {
  color: rgba(138, 146, 165, 0.8);
}
::ng-deep .hn-btn-info.ant-btn-background-ghost.ant-btn[disabled] {
  color: rgba(138, 146, 165, 0.6);
}
::ng-deep .hn-btn-info.ant-btn-background-ghost.ant-btn[disabled]:hover {
  color: rgba(138, 146, 165, 0.6);
}
::ng-deep .hn-btn-info.ant-btn[disabled] {
  border-color: rgba(138, 146, 165, 0.6);
  background-color: rgba(138, 146, 165, 0.6);
}
.hn-detail-list {
  margin-top: -14px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 18px;
}
.hn-detail-list .hn-detail-item {
  display: flex;
  margin-top: 14px;
}
.hn-detail-list .hn-detail-item .hn-detail-label {
  color: #666666;
}
.hn-detail-list .hn-detail-item .hn-detail-value {
  color: #666666;
  display: flex;
}
.hn-detail-title {
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.hn-detail-title .anticon {
  color: #1293f1;
  margin-right: 5px;
  font-size: 12px;
}
.hn-detail-title .title {
  font-weight: 500;
}
.hn-img-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.hn-img-list-item {
  width: 104px;
  height: 104px;
  margin: 5px;
}
.hn-img-list-item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.hn-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hn-list .hn-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.hn-list .hn-list-item .hn-list-title {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hn-list .hn-list-item .hn-list-title .title {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hn-list .hn-list-item .hn-list-title .anticon {
  color: #1293f1;
}
.hn-list .hn-list-item .hn-list-desc {
  flex: 0 0 90px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  color: #999999;
}
.hn-empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
::ng-deep .hn-preview-wrap .hn-preview {
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
}
::ng-deep .hn-preview-wrap .hn-preview .anticon {
  font-size: 24px;
}
::ng-deep .hn-preview-wrap .hn-preview .ant-modal-close-x {
  color: rgba(255, 255, 255, 0.5);
}
::ng-deep .hn-preview-wrap .hn-preview .ant-modal-close-x:hover {
  color: #ffffff;
}
::ng-deep .hn-preview-wrap .hn-preview .ant-modal-content {
  height: 100%;
  background-color: transparent;
}
::ng-deep .hn-preview-wrap .hn-preview .ant-modal-body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
::ng-deep .hn-preview-wrap .hn-preview .ant-carousel {
  display: flex;
  align-items: center;
}
::ng-deep .hn-preview-wrap .hn-preview .ant-carousel .slick-slider .slick-track {
  display: flex;
  align-items: center;
  min-width: 100% !important;
}
::ng-deep .hn-preview-wrap .hn-preview .ant-carousel .slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
::ng-deep .hn-preview-wrap .hn-preview .hn-preview-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
}
::ng-deep .hn-preview-wrap .hn-preview .hn-preview-btn-prev {
  margin-right: 20px;
}
::ng-deep .hn-preview-wrap .hn-preview .hn-preview-btn-next {
  margin-left: 20px;
}
::ng-deep .hn-preview-wrap .hn-preview .hn-preview-btn:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
.hn-scroll-list {
  overflow: hidden;
}
.hn-scroll-list .hn-scroll-list-item {
  cursor: pointer;
}
::ng-deep .hn-search {
  padding-top: 32px;
}
::ng-deep .hn-search .ant-btn-link {
  padding: 0;
  margin-left: 10px;
}
::ng-deep .hn-search .hn-search-icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 12px;
  z-index: 1;
  cursor: pointer;
}
::ng-deep .hn-search .hn-search-simple {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
::ng-deep .hn-search .hn-search-simple .ant-input-search-button {
  padding: 0 10px;
}
::ng-deep .hn-search .ant-calendar-picker {
  width: auto !important;
}
.search-popover {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #bae7ff;
  border-top: 1px solid #1293f1;
  border-radius: 2px;
}
.search-popover .search-popover-btns {
  text-align: right;
}
.search-popover .search-popover-btns .ant-btn + .ant-btn {
  margin-left: 10px;
}
.search-popover .search-children {
  display: flex;
}
.search-popover .search-children .search-children-item + .search-children-item {
  margin-left: 10px;
}
.hn-single-search {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
}
.hn-single-search-item {
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.hn-single-search-item .label {
  white-space: nowrap;
  color: #333333;
}
.hn-single-search .search-checkbox {
  display: flex;
  align-items: center;
}
.hn-table-msg {
  display: flex;
  align-items: center;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.hn-table-msg > div {
  margin-left: 10px;
}
.hn-table-msg .msg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  background-color: #1293f1;
}
.hn-table-msg .msg-clear {
  cursor: pointer;
}
.hn-table-msg .msg-total .value {
  font-weight: 500;
}
.font-blue {
  color: #1293f1;
}
::ng-deep .hn-table .table-btns {
  display: flex;
}
::ng-deep .hn-table .table-btns .table-btn {
  cursor: pointer;
  color: #1293f1;
  position: relative;
}
::ng-deep .hn-table .table-btns .table-btn + .table-btn {
  margin-left: 10px;
  padding-left: 10px;
}
::ng-deep .hn-table .table-btns .table-btn + .table-btn::after {
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 4px;
  left: 0;
  border-left: 1px solid #e8e8e8;
}
::ng-deep .hn-table .table-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
::ng-deep .hn-table .table-img img {
  max-width: 100%;
  max-height: 100%;
}
::ng-deep .hn-table .ant-table-pagination.ant-pagination {
  width: 100%;
  text-align: right;
}
::ng-deep .hn-table .ant-table-pagination.ant-pagination .ant-pagination-total-text {
  float: left;
}
