<div class="hn-search">
  <div *ngIf="render" class="hn-search-simple">
    <ng-template [ngTemplateOutlet]="render">
    </ng-template>
  </div>
  <div *ngIf="!render" class="hn-search-simple">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [(ngModel)]="params[keyword]"
        maxlength="30"
        [placeholder]="placeholder"
        (keyup.enter)="handleKeyupEnter()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <button nz-button nzType="primary" nzSearch (click)="handleKeyupEnter()">
        <i nz-icon type="search"></i>搜索
      </button>
    </ng-template>
    <button
      *ngIf="formList && formList.length > 0"
      nz-button
      nzType="link"
      (click)="handleToggle()">高级搜索
      <i nz-icon [nzType]="modeVisible ? 'up' : 'down'" nzTheme="outline"></i>
    </button>
  </div>
  <div class="search-popover" *ngIf="modeVisible" [@slideMotion]="'bottom'">
    <hn-form
      #form
      class="search-popover-form"
      mode="grid"
      [hasValidator]="false"
      [formList]="formList"
      [params]="params"
      [render]="itemRender"
      (hnSubmit)="handleSubmit($event)">
    </hn-form>
    <div class="search-popover-btns">
      <button nz-button nzType="primary" (click)="handleConfirm()">搜索</button>
      <button nz-button (click)="handleReset()">清空条件</button>
      <button nz-button nzType="link" (click)="handleCancle()">收起<i nz-icon nzType="up" nzTheme="outline"></i></button>
    </div>
  </div>
</div>