<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>
<app-catalog [list]="catalogList"></app-catalog>

<div class="layout-content">
  <h2 id="default">ant-button 默认用法</h2>
  <div class="button-list">
    <div class="button-list-item">
      <button nz-button nzType="default">默认按钮</button>
      <button nz-button nzType="primary">primary</button>
      <button nz-button nzType="dashed">dashed</button>
      <button nz-button nzType="danger">danger</button>
      <button nz-button nzType="link">link</button>
    </div>
    <div class="button-list-item">
      <button nz-button nzType="default" [disabled]="true">默认按钮</button>
      <button nz-button nzType="primary" [disabled]="true">primary</button>
      <button nz-button nzType="dashed" [disabled]="true">dashed</button>
      <button nz-button nzType="danger" [disabled]="true">danger</button>
      <button nz-button nzType="link" [disabled]="true">link</button>
    </div>
  </div>
  <h2 id="base">基础用法</h2>
  <div class="button-list">
    <div class="button-list-item">
      <hn-button>默认按钮</hn-button>
      <hn-button type="primary">普通按钮</hn-button>
      <hn-button type="success">成功按钮</hn-button>
      <hn-button type="warning">警告按钮</hn-button>
      <hn-button type="danger">危险按钮</hn-button>
      <hn-button type="info">信息按钮</hn-button>
      <hn-button type="dashed">dashed按钮</hn-button>
      <hn-button type="link">链接按钮</hn-button>
    </div>
    <div class="button-list-item">
      <hn-button [disabled]="true">默认按钮</hn-button>
      <hn-button type="primary" [disabled]="true">普通按钮</hn-button>
      <hn-button type="success" [disabled]="true">成功按钮</hn-button>
      <hn-button type="warning" [disabled]="true">警告按钮</hn-button>
      <hn-button type="danger" [disabled]="true">危险按钮</hn-button>
      <hn-button type="info" [disabled]="true">信息按钮</hn-button>
      <hn-button type="dashed" [disabled]="true">dashed按钮</hn-button>
      <hn-button type="link" [disabled]="true">链接按钮</hn-button>
    </div>
  </div>

  <app-markdown-tab [list]="baseTabs"></app-markdown-tab>

  <h2 id="icon">带icon图标</h2>
  <div class="button-list">
    <div class="button-list-item">
      <hn-button loading="true">默认按钮</hn-button>
      <hn-button type="primary">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
        <span>普通按钮</span>
      </hn-button>
      <hn-button type="success" icon="check-circle">成功按钮</hn-button>
      <hn-button type="warning" icon="warning">警告按钮</hn-button>
      <hn-button type="danger" icon="stop">危险按钮</hn-button>
      <hn-button type="info" icon="info-circle">信息按钮</hn-button>
    </div>
  </div>

  <app-markdown-tab [list]="iconTabs"></app-markdown-tab>

  <h2 id="size">size、shape用法</h2>
  <div class="button-list">
    <div class="button-list-item">
      <hn-button shape="circle" icon="search"></hn-button>
      <hn-button type="primary" size="small">普通下按钮</hn-button>
      <hn-button type="success" size="large">成功大按钮</hn-button>
      <hn-button shape="circle" size="large" type="warning">
        <i nz-icon nzType="warning" nzTheme="outline"></i>
      </hn-button>
      <hn-button type="danger" size="large">危险按钮</hn-button>
      <hn-button type="info" size="large">信息按钮</hn-button>
    </div>
  </div>

  <app-markdown-tab [list]="sizeTabs"></app-markdown-tab>

  <h2 id="ghost">幽灵按钮</h2>
  <div class="button-list button-ghost-list">
    <div class="button-list-item">
      <hn-button [ghost]="true">默认按钮</hn-button>
      <hn-button type="primary" [ghost]="true">普通按钮</hn-button>
      <hn-button type="success" [ghost]="true">成功按钮</hn-button>
      <hn-button type="warning" [ghost]="true">警告按钮</hn-button>
      <hn-button type="danger" [ghost]="true">危险按钮</hn-button>
      <hn-button type="info" [ghost]="true">信息按钮</hn-button>
      <hn-button type="dashed" [ghost]="true">dashed按钮</hn-button>
      <hn-button type="link" [ghost]="true">链接按钮</hn-button>
    </div>
    <div class="button-list-item">
      <hn-button [ghost]="true" [disabled]="true">默认按钮</hn-button>
      <hn-button type="primary" [ghost]="true" [ghost]="true" [disabled]="true">普通按钮</hn-button>
      <hn-button type="success" [ghost]="true" [disabled]="true">成功按钮</hn-button>
      <hn-button type="warning" [ghost]="true" [disabled]="true">警告按钮</hn-button>
      <hn-button type="danger" [ghost]="true" [disabled]="true">危险按钮</hn-button>
      <hn-button type="info" [ghost]="true" [disabled]="true">信息按钮</hn-button>
      <hn-button type="dashed" [ghost]="true" [disabled]="true">dashed按钮</hn-button>
      <hn-button type="link" [ghost]="true" [disabled]="true">链接按钮</hn-button>
    </div>
  </div>

  <app-markdown-tab [list]="ghostTabs"></app-markdown-tab>

  <h2 id="block">block用法</h2>
  <div class="button-list">
    <div class="button-list-item" nz-row nzGutter="20">
      <div nz-col nzSpan="6">
        <hn-button [block]="true">默认按钮</hn-button>
      </div>
      <div nz-col nzSpan="6">
        <hn-button type="primary" [block]="true">普通按钮</hn-button>
      </div>
      <div nz-col nzSpan="6">
        <hn-button type="success" [block]="true">成功按钮</hn-button>
      </div>
      <div nz-col nzSpan="6">
        <hn-button type="warning" [block]="true">警告按钮</hn-button>
      </div>
    </div>
    <div class="button-list-item" nz-row nzGutter="20">
      <div nz-col nzSpan="6">
        <hn-button type="danger" [block]="true">危险按钮</hn-button>
      </div>
      <div nz-col nzSpan="6">
        <hn-button type="info" [block]="true">信息按钮</hn-button>
      </div>
      <div nz-col nzSpan="6">
        <hn-button type="dashed" [block]="true">dashed按钮</hn-button>
      </div>
      <div nz-col nzSpan="6">
        <hn-button type="link" [block]="true">链接按钮</hn-button>
      </div>
    </div>
  </div>

  <app-markdown-tab [list]="blockTabs"></app-markdown-tab>

  <markdown id="api" ngPreserveWhitespaces>{{apiMarkdown}}</markdown>

</div>