<form class="hn-form" nz-form [nzLayout]="mode" [formGroup]="validateForm">

  <ng-container *ngIf="mode === 'horizontal'">
    <nz-form-item *ngFor="let data of formList" nzFlex>
      <ng-template [ngTemplateOutlet]="itemTemp"
        [ngTemplateOutletContext]="{ $implicit: data, index: index }">
      </ng-template>
    </nz-form-item>
  </ng-container>
  <ng-container *ngIf="mode === 'vertical' || mode === 'inline'">
    <nz-form-item *ngFor="let data of formList">
      <ng-template [ngTemplateOutlet]="itemTemp"
        [ngTemplateOutletContext]="{ $implicit: data, index: index }">
      </ng-template>
    </nz-form-item>
  </ng-container>
  <ng-container *ngIf="mode === 'grid'">
    <div nz-row [nzGutter]="20">
      <div nz-col *ngFor="let data of formList" [nzSpan]="data.col || 6">
        <nz-form-item nzFlex>
          <ng-template [ngTemplateOutlet]="itemTemp"
            [ngTemplateOutletContext]="{ $implicit: data, index: index }">
          </ng-template>
        </nz-form-item>
      </div>
    </div>
  </ng-container>

  <ng-template #itemTemp let-data>
    <nz-form-label
      [ngStyle]="labelStyle(labelWidth)"
      [nzFor]="data.key"
      [nzRequired]="hasValidator && data.required"
      [nzNoColon]="data.nzNoColon">
      {{data.label.title || data.label}}</nz-form-label>
    <nz-form-control
      [ngClass]="{'has-error': hasValidator && validateForm.get(data.key)?.dirty && validateForm.get(data.key)?.errors}"
      style="flex: 1;">
      <ng-template [ngTemplateOutlet]="controlTemp"
        [ngTemplateOutletContext]="{ $implicit: data, index: index }">
      </ng-template>
      <nz-form-explain
        *ngIf="hasValidator && hasExplain && validateForm.get(data.key)?.dirty && validateForm.get(data.key)?.errors && data.errorMsg">
        {{data.errorMsg}}
      </nz-form-explain>
    </nz-form-control>
  </ng-template>

  <ng-template #controlTemp let-data>
    <ng-template #contentTemp let-data>
      <input
        *ngIf="data.type === 'input'"
        nz-input
        [formControlName]="data.key"
        [placeholder]="data.placeHolder || ''"
        [type]="data.inputType || 'text'"
        [maxlength]="data.maxlength || 30" />

      <nz-input-number
        *ngIf="data.type === 'input-number'"
        [formControlName]="data.key"
        [nzPlaceHolder]="data.placeHolder || ''"
        [nzDisabled]="data.disabled"
        [nzMin]="data.nzMin || '-Infinity'"
        [nzMax]="data.nzMax || 'Infinity'"
        [nzStep]="data.nzStep || 1"
        [nzPrecision]="data.nzPrecision || 0.1">
      </nz-input-number>

      <nz-radio-group
        *ngIf="data.type === 'radio'"
        [formControlName]="data.key"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize">
        <label
          *ngFor="let item of data.options"
          nz-radio
          [nzValue]="item.value"
          [nzDisabled]="item.disabled">{{item.label}}
        </label>
      </nz-radio-group>

      <nz-radio-group
        *ngIf="data.type === 'radio-button'"
        [formControlName]="data.key"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize">
        <label
          *ngFor="let item of data.options"
          nz-radio-button
          [nzValue]="item.value"
          [nzDisabled]="item.disabled">{{item.label}}
        </label>
      </nz-radio-group>

      <hn-checkbox-group
        *ngIf="data.type === 'checkbox'"
        [formControlName]="data.key"
        [options]="data.options">
      </hn-checkbox-group>

      <nz-rate
        *ngIf="data.type === 'rate'"
        [formControlName]="data.key"
        [nzDisabled]="data.disabled"
        [nzAllowHalf]="data.nzAllowHalf"
        [nzAllowClear]="data.nzAllowClear">
      </nz-rate>

      <nz-select
        *ngIf="data.type === 'select'"
        [formControlName]="data.key"
        [nzPlaceHolder]="data.placeHolder || '请选择'"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzMode]="data.nzMode || 'default'"
        [nzAllowClear]="data.nzAllowClear"
        [nzShowArrow]="data.nzShowArrow"
        [nzAutoClearSearchValue]="data.nzAutoClearSearchValue"
        [nzMaxMultipleCount]="data.nzMaxMultipleCount"
        [nzMaxTagCount]="data.nzMaxTagCount">
        <nz-option
          *ngFor="let item of data.options"
          [nzValue]="item.value"
          [nzLabel]="item.label"
          [nzDisabled]="item.disabled">
        </nz-option>
      </nz-select>

      <nz-tree-select
        *ngIf="data.type === 'tree-select'"
        [formControlName]="data.key"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzNodes]="data.options"
        [nzShowIcon]="data.nzShowIcon"
        [nzShowSearch]="data.nzShowSearch || true"
        [nzMultiple]="data.nzMultiple || false"
        [nzCheckable]="data.nzCheckable || false"
        [nzShowExpand]="data.nzShowExpand || true"
        [nzShowLine]="data.nzShowLine"
        [nzMaxTagCount]="data.nzMaxTagCount">
      </nz-tree-select>

      <nz-cascader
        *ngIf="data.type === 'cascader'"
        [formControlName]="data.key"
        [nzPlaceHolder]="data.placeholder || '请选择'"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzOptions]="data.options"
        [nzAllowClear]="data.nzAllowClear"
        [nzExpandTrigger]="data.nzExpandTrigger || 'click'"
        [nzValueProperty]="data.nzValueProperty || 'value'"
        [nzLabelProperty]="data.nzLabelProperty || 'label'"
        [nzShowArrow]="data.nzShowArrow || true"
        [nzShowInput]="data.nzShowInput || true"
        [nzShowSearch]="data.nzShowSearch || false">
      </nz-cascader>

      <nz-slider
        *ngIf="data.type === 'slider'"
        [formControlName]="data.key"
        [nzDisabled]="data.disabled"
        [nzDots]="data.nzDots || false"
        [nzMin]="data.nzMin || 0"
        [nzMax]="data.nzMax || 100"
        [nzStep]="data.nzStep || 1"
        [nzRange]="data.nzRange || false"
        [nzMarks]="data.nzMarks || {}"
        [nzIncluded]="data.nzIncluded || true"
        [nzTipFormatter]="data.nzTipFormatter"
        [nzVertical]="data.nzVertical || false"
        [nzTooltipVisible]="data.nzTooltipVisible || 'default'">
      </nz-slider>

      <nz-switch
        *ngIf="data.type === 'switch'"
        [formControlName]="data.key"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzCheckedChildren]="data.nzCheckedChildren"
        [nzUnCheckedChildren]="data.nzUnCheckedChildren">
      </nz-switch>

      <nz-time-picker
        *ngIf="data.type === 'time'"
        [formControlName]="data.key"
        [nzPlaceHolder]="data.placeHolder || '请选择时间'"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzAllowEmpty]="data.nzAllowEmpty"
        [nzDefaultOpenValue]="data.nzDefaultOpenValue"
        [nzFormat]="data.nzFormat || 'HH:mm:ss'"
        [nzHourStep]="data.nzHourStep"
        [nzMinuteStep]="data.nzMinuteStep"
        [nzSecondStep]="data.nzSecondStep"
        [nzDisabledHours]="data.nzDisabledHours"
        [nzDisabledMinutes]="data.nzDisabledMinutes"
        [nzDisabledSeconds]="data.nzDisabledSeconds"
        [nzHideDisabledOptions]="data.nzHideDisabledOptions">
      </nz-time-picker>

      <nz-year-picker
        *ngIf="data.type === 'year'"
        [formControlName]="data.key"
        [nzPlaceHolder]="data.placeHolder || '请选择年'"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzAllowClear]="data.nzAllowClear"
        [nzDisabledDate]="data.nzDisabledDate"
        [nzFormat]="data.nzFormat || 'yyyy'"
        [nzRenderExtraFooter]="data.nzRenderExtraFooter">
      </nz-year-picker>

      <nz-month-picker
        *ngIf="data.type === 'month'"
        [formControlName]="data.key"
        [nzPlaceHolder]="data.placeHolder || '请选择月份'"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzAllowClear]="data.nzAllowClear"
        [nzDisabledDate]="data.nzDisabledDate"
        [nzFormat]="data.nzFormat || 'yyyy-MM'"
        [nzRenderExtraFooter]="data.nzRenderExtraFooter">
      </nz-month-picker>

      <nz-week-picker
        *ngIf="data.type === 'week'"
        [formControlName]="data.key"
        [nzPlaceHolder]="data.placeHolder || '请选择周'"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzAllowClear]="data.nzAllowClear"
        [nzDisabledDate]="data.nzDisabledDate"
        [nzFormat]="data.nzFormat || 'yyyy-ww'">
      </nz-week-picker>

      <nz-date-picker
        *ngIf="data.type === 'date'"
        [formControlName]="data.key"
        [nzPlaceHolder]="data.placeHolder || '请选择日期'"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzAllowClear]="data.nzAllowClear"
        [nzDisabledDate]="data.nzDisabledDate"
        [nzFormat]="data.nzFormat"
        [nzDisabledTime]="data.disabledTime"
        [nzRenderExtraFooter]="data.nzRenderExtraFooter"
        [nzShowTime]="data.nzShowTime"
        [nzShowToday]="data.nzShowToday">
      </nz-date-picker>

      <nz-range-picker
        *ngIf="data.type === 'range'"
        [formControlName]="data.key"
        [nzDisabled]="data.disabled"
        [nzSize]="data.nzSize"
        [nzAllowClear]="data.nzAllowClear"
        [nzDisabledDate]="data.nzDisabledDate"
        [nzFormat]="data.nzFormat"
        [nzDisabledTime]="data.disabledTime"
        [nzRenderExtraFooter]="data.nzRenderExtraFooter"
        [nzShowTime]="data.nzShowTime"
        [nzRanges]="data.nzRanges">
      </nz-range-picker>

    </ng-template>
    <ng-template [ngTemplateOutlet]="data.render ? data.render : contentTemp"
      [ngTemplateOutletContext]="{ $implicit: data, index: index }">
    </ng-template>
    <div *ngIf="data.children" class="form-children" nzType="flex" nz-row [nzGutter]="10">
      <div class="form-children-item" nz-col *ngFor="let item of data.children">
        <ng-template [ngTemplateOutlet]="item.render ? item.render : contentTemp"
          [ngTemplateOutletContext]="{ $implicit: item, index: index }">
        </ng-template>
      </div>
    </div>
  </ng-template>
</form>