@import '../style/theme.less';

.hn-form {

  .ant-input,
  .ant-select,
  .ant-slider {
    min-width: 170px;
  }

  .ant-rate {
    line-height: 1.5;
  }

  .ant-form-explain {
    position: absolute;
  }
}