<nz-modal
  [nzVisible]="modeVisible"
  nzWrapClassName="hn-preview-wrap"
  nzClassName="hn-preview"
  [nzContent]="modalContent"
  [nzFooter]="null"
  nzWidth="100%"
  (nzAfterOpen)="handleAfterOpen()"
  (nzOnCancel)="cancel()">
  <ng-template #modalContent>
    <div class="hn-preview-container">
      <div *ngIf="imgList && imgList.length > 1" class="hn-preview-btn hn-preview-btn-prev"
        (click)="prev()">
        <i nz-icon nzType="left" nzTheme="outline"></i>
      </div>

      <div class="hn-preview-image">
        <img *ngIf="imgSrc" [src]="imgSrc">
      </div>

      <div *ngIf="imgList && imgList.length > 1" class="hn-preview-btn hn-preview-btn-next"
        (click)="next()">
        <i nz-icon nzType="right" nzTheme="outline"></i>
      </div>
    </div>
  </ng-template>
</nz-modal>