<li
  #dragElement
  role="treeitem"
  [style.display]="displayStyle"
  [ngClass]="nzNodeClass">
  <ng-container *ngIf="hnShowExpand">
    <span
      [ngClass]="nzNodeSwitcherClass"
      (click)="_clickExpand($event)">
      <ng-container *ngIf="isShowSwitchIcon">
        <ng-container *ngIf="!hnTreeNode.isLoading">
          <ng-template
            *ngIf="isTemplateRef(hnExpandedIcon)"
            [ngTemplateOutlet]="hnExpandedIcon"
            [ngTemplateOutletContext]="{ $implicit: hnTreeNode }">
          </ng-template>
          <i
            *ngIf="!isTemplateRef(hnExpandedIcon)"
            nz-icon
            nzType="caret-down"
            [class.ant-select-switcher-icon]="hnSelectMode"
            [class.ant-tree-switcher-icon]="!hnSelectMode">
          </i>
        </ng-container>
        <i *ngIf="hnTreeNode.isLoading" nz-icon nzType="loading" [nzSpin]="true"
          class="ant-tree-switcher-loading-icon"></i>
      </ng-container>
      <ng-container *ngIf="hnShowLine">
        <ng-template
          *ngIf="isTemplateRef(hnExpandedIcon)"
          [ngTemplateOutlet]="hnExpandedIcon"
          [ngTemplateOutletContext]="{ $implicit: hnTreeNode }">
        </ng-template>
        <ng-container *ngIf="!isTemplateRef(hnExpandedIcon)">
          <i *ngIf="isShowLineIcon" nz-icon [nzType]="isSwitcherOpen ? 'minus-square' : 'plus-square'"
            class="ant-tree-switcher-line-icon"></i>
          <i *ngIf="!isShowLineIcon" nz-icon nzType="file" class="ant-tree-switcher-line-icon"></i>
        </ng-container>
      </ng-container>
    </span>
  </ng-container>
  <ng-container *ngIf="hnCheckable">
    <span
      [ngClass]="nzNodeCheckboxClass"
      (click)="_clickCheckBox($event)">
      <span [class.ant-tree-checkbox-inner]="!hnSelectMode"
        [class.ant-select-tree-checkbox-inner]="hnSelectMode"></span>
    </span>
  </ng-container>
  <ng-container *ngIf="!hnTreeTemplate">
    <span
      title="{{hnTreeNode.title}}"
      [attr.draggable]="canDraggable"
      [attr.aria-grabbed]="canDraggable"
      [ngClass]="nzNodeContentClass"
      [class.draggable]="canDraggable">
      <span
        *ngIf="hnTreeNode.icon && hnShowIcon"
        [class.ant-tree-icon__open]="isSwitcherOpen"
        [class.ant-tree-icon__close]="isSwitcherClose"
        [class.ant-tree-icon_loading]="hnTreeNode.isLoading"
        [ngClass]="nzNodeContentLoadingClass">
        <span
          [ngClass]="nzNodeContentIconClass">
          <i nz-icon *ngIf="nzIcon" [nzType]="nzIcon"></i>
        </span>
      </span>
      <span class="ant-tree-title" [innerHTML]="hnTreeNode.title | hnHighlight: hnSearchValue: '' : 'font-highlight'">
      </span>
    </span>
  </ng-container>
  <ng-template
    [ngTemplateOutlet]="hnTreeTemplate"
    [ngTemplateOutletContext]="{ $implicit: hnTreeNode }">
  </ng-template>

  <ul
    *ngIf="hnTreeNode.isExpanded"
    role="group"
    class="ant-tree-child-tree"
    [class.ant-tree-child-tree-open]="!hnSelectMode || hnTreeNode.isExpanded"
    data-expanded="true"
    [@.disabled]="noAnimation?.nzNoAnimation"
    @treeCollapseMotion>
    <hn-tree-node
      *ngFor="let node of hnTreeNode.getChildren()"
      [hnTreeNode]="node"
      [hnSelectMode]="hnSelectMode"
      [hnShowLine]="hnShowLine"
      [hnExpandedIcon]="hnExpandedIcon"
      [hnDraggable]="hnDraggable"
      [hnCheckable]="hnCheckable"
      [hnShowExpand]="hnShowExpand"
      [hnAsyncData]="hnAsyncData"
      [hnExpandAll]="hnExpandAll"
      [hnSearchValue]="hnSearchValue"
      [hnHideUnMatched]="hnHideUnMatched"
      [hnBeforeDrop]="hnBeforeDrop"
      [hnExpandAll]="hnExpandAll"
      [hnShowIcon]="hnShowIcon"
      [@.disabled]="noAnimation?.nzNoAnimation"
      [nzNoAnimation]="noAnimation?.nzNoAnimation"
      [hnAccordion]="hnAccordion">
    </hn-tree-node>
  </ul>
</li>