<ul
  role="tree"
  unselectable="on"
  [ngClass]="classMap">
  <ng-container *ngFor="let node of hnNodes">
    <hn-tree-node
      [hnTreeNode]="node"
      [hnSelectMode]="hnSelectMode"
      [hnShowLine]="hnShowLine"
      [hnExpandedIcon]="hnExpandedIcon"
      [hnDraggable]="hnDraggable"
      [hnCheckable]="hnCheckable"
      [hnShowExpand]="hnShowExpand"
      [hnAsyncData]="hnAsyncData"
      [hnSearchValue]="hnSearchValue"
      [hnHideUnMatched]="hnHideUnMatched"
      [hnBeforeDrop]="hnBeforeDrop"
      [hnExpandAll]="hnExpandAll"
      [hnShowIcon]="hnShowIcon"
      [hnTreeTemplate]="treeTemplate"
      [@.disabled]="noAnimation?.nzNoAnimation"
      [hnNoAnimation]="noAnimation?.nzNoAnimation"
      [hnAccordion]="hnAccordion">
    </hn-tree-node>
  </ng-container>
</ul>