<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h2>表单示例</h2>
  <div class="form-tab">
    <nz-radio-group class="form-tab-item" [(ngModel)]="mode">
      <label
        *ngFor="let item of btnList"
        nz-radio-button
        [nzValue]="item">
        <span>{{item}}</span>
      </label>
    </nz-radio-group>
    <nz-radio-group class="form-tab-item" [(ngModel)]="hasExplain">
      <label
        *ngFor="let item of hasExplainList"
        nz-radio-button
        [nzValue]="item.value">
        <span>{{item.label}}</span>
      </label>
    </nz-radio-group>
    <nz-radio-group class="form-tab-item" [(ngModel)]="hasValidator">
      <label
        *ngFor="let item of hasValidatorList"
        nz-radio-button
        [nzValue]="item.value">
        <span>{{item.label}}</span>
      </label>
    </nz-radio-group>
    <div class="form-tab-item">
      <label for="" style="width: 100px;">label宽度：</label>
      <input nz-input [(ngModel)]="labelWidth">
    </div>
  </div>
  <hn-form
    #form
    [mode]="mode"
    [formList]="formList"
    [params]="params"
    [hasExplain]="hasExplain"
    [hasValidator]="hasValidator"
    [labelWidth]="labelWidth"
    [render]="{inputTemp: inputTemp}"
    (submit)="handleSubmit($event)">
    <ng-template #inputTemp>
      <input nz-input [(ngModel)]="params.input1" placeholder="render input">
    </ng-template>
  </hn-form>

  <hn-button (click)="handleReset()">重置</hn-button>
  <hn-button class="ml10" type="warning" (click)="handleClear()">清空</hn-button>
  <hn-button class="ml10" (hnClick)="handleClick()" type="primary">提交</hn-button>

  <p class="code">{{jsonParams}}</p>

  <app-markdown-tab [list]="markdownTabs"></app-markdown-tab>

  <markdown ngPreserveWhitespaces>{{apiMarkdown}}</markdown>
</div>