.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.beforeAfter {
  content: '';
  display: block;
  height: 0;
  width: 0;
}
markdown blockquote {
  padding: 0 1em;
  color: rgba(0, 0, 0, 0.535);
  border-left: 0.25em solid rgba(0, 0, 0, 0.11);
}
markdown table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 16px;
}
markdown table th,
markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
markdown table th[align='left'],
markdown table td[align='left'] {
  text-align: left;
}
markdown table th[align='center'],
markdown table td[align='center'] {
  text-align: center;
}
markdown table th[align='right'],
markdown table td[align='right'] {
  text-align: right;
}
markdown table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.03);
}
markdown ul {
  list-style-type: inherit;
  padding-left: 40px !important;
}
markdown li {
  list-style-type: inherit;
}
markdown ul ul,
markdown ol ul {
  list-style-type: circle;
}
.breadcrumb {
  padding: 10px 20px;
  background-color: #ffffff;
}
.layout-content {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
}
.color-primary {
  color: #1293f1;
}
.color-success {
  color: #56c51f;
}
.color-danger {
  color: #fd4323;
}
.color-warning {
  color: #ffd045;
}
.color-info {
  color: #8a92a5;
}
.color-title {
  color: #333333;
}
.color-content {
  color: #666666;
}
.color-disabled {
  color: #999999;
}
.color-border {
  color: #e8e8e8;
}
pre {
  max-height: 400px;
}
