<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h2>高级搜索</h2>
  <div class="table-operation">
    <hn-search [formList]="formList" (search)="handleSearch($event)" [itemRender]="{inputTemp: inputTemp}">
      <ng-template #inputTemp>
        <input nz-input [(ngModel)]="params.input" placeholder="render input">
      </ng-template>
    </hn-search>
  </div>

  <p class="code">
    {{jsonParams}}
  </p>

  <app-markdown-tab [list]="markdownTabs"></app-markdown-tab>

  <markdown ngPreserveWhitespaces>{{apiMarkdown}}</markdown>
</div>