<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h2>基础示例</h2>
  <hn-table
    #baseTable
    [columns]="columns"
    [data]="tableData"
    [params]="params"
    [scroll]="{x: '600px'}"
    [showPagination]="true"
    [showSelect]="true"
    [render]="{linkTemp: linkTemp, operateTemp: operateTemp}">
    <ng-template #linkTemp let-scope>
      <a class="color-primary" (click)="handleView(scope)">{{scope.data[scope.item.key]}}</a>
    </ng-template>
    <ng-template #operateTemp let-scope>
      <div class="table-btns">
        <div class="table-btn" (click)="handleEdit('edit', scope.data)">编辑</div>
      </div>
    </ng-template>
  </hn-table>

  <app-markdown-tab [list]="baseTabs"></app-markdown-tab>

  <h2>远程请求示例</h2>
  <hn-table
    #interfaceTable
    [columns]="columns"
    [api]="getListApi"
    [params]="params"
    [scroll]="{x: '600px'}"
    [showPagination]="true"
    [showSelect]="true"
    [render]="{linkTemp: linkTemp, operateTemp: operateTemp}">
    <ng-template #linkTemp let-scope>
      <a class="color-primary" (click)="handleView(scope)">{{scope.data[scope.item.key]}}</a>
    </ng-template>
    <ng-template #operateTemp let-scope>
      <div class="table-btns">
        <div class="table-btn" (click)="handleEdit('edit', scope.data)">编辑</div>
      </div>
    </ng-template>
  </hn-table>

  <app-markdown-tab [list]="interfaceTabs"></app-markdown-tab>

  <markdown ngPreserveWhitespaces>{{apiMarkdown}}</markdown>
</div>