<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h2>基础示例</h2>
  <app-table-base></app-table-base>
  <app-markdown-tab [list]="baseTabs"></app-markdown-tab>

  <h2>远程请求示例</h2>
  <app-table-interface></app-table-interface>
  <app-markdown-tab [list]="interfaceTabs"></app-markdown-tab>

  <h2>虚拟滚动</h2>
  <app-table-virtual></app-table-virtual>
  <app-markdown-tab [list]="virtualTabs"></app-markdown-tab>

  <h2>拖拽</h2>
  <app-table-drop></app-table-drop>
  <app-markdown-tab [list]="dropTabs"></app-markdown-tab>

  <markdown ngPreserveWhitespaces>{{apiMarkdown}}</markdown>
</div>