<div class="breadcrumb">
  <nz-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</div>

<div class="layout-content">
  <h2>示例</h2>
  <hn-scroll-list
    [data]="list"
    [renderItem]="renderItem"
    [count]="6"
    [itemHeight]="60"
    [delay]="2000">
    <ng-template #renderItem let-item>
      <div class="list-item">
        <span>{{item.title}}</span>
        <span>{{item.desc}}</span>
      </div>
    </ng-template>
  </hn-scroll-list>

  <markdown>{{apiMarkdown}}</markdown>
</div>
