<div class="layout-content">
  <h2>大数据量 nz-tree 与 hn-tree 性能对比示例</h2>
  <div class="mt10" nz-row nzGutter="20">
    <div nz-col nzSpan="12">
      <h3>nz-tree</h3>
      <div style="display: flex; align-items: center;">
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>
        <div style="flex:0 0 120px;margin-left: 20px;">匹配项：{{searchNum}}</div>
      </div>
      <nz-tree
        nzNoAnimation
        #nzTreeComponent
        [nzData]="nodes"
        [nzCheckable]="false"
        [nzSearchValue]="searchValue"
        (nzSearchValueChange)="handleSearchValue($event)"
        (nzCheckBoxChange)="handleCheckBoxChange($event)"
        (nzClick)="handleClick($event)"
        (nzExpandChange)="handleExpandChange($event)">
      </nz-tree>
    </div>
    <div class="mt10" nz-col nzSpan="12">
      <h3>hn-tree</h3>
      <div style="display: flex; align-items: center;">
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue1" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>
        <div style="flex:0 0 120px;margin-left: 20px;">匹配项：{{searchNum}}</div>
      </div>
      <nz-radio-group class="mt10" [(ngModel)]="accordion">
        <label
          *ngFor="let item of accordionList"
          nz-radio-button
          [nzValue]="item.value">
          <span>{{item.label}}</span>
        </label>
      </nz-radio-group>
      <hn-tree
        nzNoAnimation
        #hnTreeComponent
        [hnData]="nodes"
        [hnCheckable]="false"
        [hnHideUnMatched]="true"
        [hnAccordion]="accordion"
        [hnSearchValue]="searchValue1"
        hnNodeTitle="title"
        hnNodeKey="key"
        (hnSearchValueChange)="handleSearchValue($event)"
        (hnCheckBoxChange)="handleCheckBoxChange($event)"
        (hnClick)="handleClick($event)"
        (hnExpandChange)="handleExpandChange($event)">
      </hn-tree>
    </div>
  </div>

  <app-markdown-tab [list]="baseTabs"></app-markdown-tab>

  <markdown ngPreserveWhitespaces>{{apiMarkdown}}</markdown>
</div>